## Import Series with the read_csv Method

In [1]:
import pandas as pd

In [6]:
# this will not output a series, it is another pandas object called a dataframe 
# usecols is used to flter out the columns that we want from the csv file 
# squeeze = True means to take this data ans squeeze it onto a series object 

pokemon = pd.read_csv("pokemon.csv", usecols = ['Pokemon'], squeeze = True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [12]:
# a series of floating point values 
google = pd.read_csv("google_stock_price.csv", usecols = ['Stock Price'], squeeze = True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [15]:
foods = pd.read_csv('foods.csv', usecols = ['Item'], squeeze = True)
foods

0         Burger
1        Chalupa
2          Sushi
3      Ice Cream
4        Chalupa
         ...
995        Sushi
996        Sushi
997        Donut
998      Chalupa
999      Chalupa
Name: Item, Length: 1000, dtype: object

##  More Series Attributes

In [18]:
pokemon.values
google.values

array([ 50.12,  54.1 ,  54.65, ..., 773.18, 771.61, 782.22])

In [20]:
pokemon.index
google.index

RangeIndex(start=0, stop=3012, step=1)

In [22]:
pokemon.dtype
google.dtype

dtype('float64')

In [24]:
# returns true if there are unique vlaues 
pokemon.is_unique
google.is_unique

False

In [27]:
pokemon.ndim
google.ndim

1

In [29]:
# used for more dimensions as it gives us the number of rows by the number of columns 
pokemon.shape
google.shape

(3012,)

In [31]:
# similar to a value count 
pokemon.size
google.size

3012

In [34]:
# the name of series 
# can see it when using pokemon.head(), it can also be reassigned to
pokemon.name = "Pocket Monsters"
pokemon.name

pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pocket Monsters, dtype: object